# Add any directories, files, or patterns you don't want to be tracked by version control
*.swp
*.o
*.bak
Debug
Release
.vs
*.log
*.vcxproj.*
*.vcxproj
stdafx.*
targetver.h
*.sln
*.suo
*.db
*.opendb
ipch
test
build
.cache/
